.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
    font-family: sans-serif;
    background: rgb(213, 225, 239);
    height: 97vh;
    width: 99vw;
    /* display: grid;
    place-items: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.card{
    background: white;
    width: 23%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    /* margin: auto; */
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888;
}
.card img{
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
}
.card h1{
    font-size: 1.6VW;
    font-weight: bold;
    text-align: center;
    padding: o.5vw 0.5vw ;
}
.card p{
    text-align: center;
    font-weight: lighter;
    font-size: 1.1VW;
}